.content {
    padding: 2px 0 0 20px;
    margin-top: 2%;
    margin-left: 35%;
    width: 30vw;
    height: 75vh;
    background-color: rgb(0, 0, 0,0.100);
    text-align: center;
}

.content p {
    font-size: larger;
    font-weight: 700;
    color: yellow;
}

.form input {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    width: 27.5vw;
    height: 5vh;
    margin-bottom: 2%;
    border-radius: 12px;
}

.content .color {
    color: rgb(2, 160, 246);
}
.content .foot {
    color: rgb(8, 238, 8);
    margin-top: 30%;
    margin-right: 35%;
}